@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Aeonik Fono";
  src: url("https://alphaassets.hiro.so/AeonikFono-Regular.woff2")
      format("woff2"),
    url("https://alphaassets.hiro.so/AeonikFono-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block; /* todo: swap better? */
}

@font-face {
  font-family: "Aeonik Mono";
  src: url("https://alphaassets.hiro.so/AeonikMono-Regular.woff2")
      format("woff2"),
    url("https://alphaassets.hiro.so/AeonikMono-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
